@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;500&family=Roboto:wght@100;300;500&family=Rubik:wght@300;400;500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
    color: white;
}
body{
    height: 100vh;
    padding-top: 40px;
    background: url(./assets/home/background-home-desktop.jpg) no-repeat center;
    background-size: cover;
    color: white;
}
body.destination{
    background: url(./assets/destination/background-destination-desktop.jpg) no-repeat center;
}
.light{
    opacity: 50%;
}
nav{
    display: flex;
    height:80px;
    width: 55vw;
    margin-left: auto;
    justify-content: flex-start;
    backdrop-filter: blur(10px);
    align-items: center;
}
nav span b{
    opacity: 1;
    display: inline-block;
    margin-right: 5px;
}
nav span{
    opacity: 1;
    margin: 5px 20px 0 20px;
    position: relative;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
}
nav span::after{    
    position: absolute;
    content: "";
    width: 100%;
    bottom: -28px;
    left: 0;
    
}
.icon{
    display: none;
}
nav span:hover:after{
    border-bottom: 5px solid white;
}
section{
    width: 80%;
    margin: auto;
    margin-top: 200px;
    display: flex;
    justify-content: space-between ;
}
.left{
    width: 350px;
}
h3{
    font-size: 20px;
    font-weight: 100;
    text-transform: uppercase;
}
h1{
    margin: 15px 0;
    font-size: 85px;
    font-weight: 300;
    text-transform: uppercase;
}
p{
    font-weight: 100;
}
.explore{
    display: flex;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background-color: white;
    align-items: center;
    justify-content: center; 
}

.explore .data{
    font-size: 40px;
    font-weight: 300;
    text-transform: uppercase;
    color: rgb(24, 24, 73);
}
/***************** TABLET ************/
@media screen and (max-width:1024px) {
    nav{
        margin-left: 0;
        width: 100%;
    }
    .explore{
        height: 150px;
        width: 150px;
    }
    .explore .data{
        font-size: 30px;
    }
    body{
    padding-top: 0px;
    background: url(./assets/home/background-home-desktop.jpg) no-repeat center;
    background-size: cover;
    }
    body.destination{
        background: url(./assets/destination/background-destination-desktop.jpg) no-repeat center;
        background-size: cover;
    
    }
}

/***************** MOBLIE ************/

@media screen and (max-width:768px) {
    section{
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    }
    .explore{
        margin-top: 30px;
        height: 60px;
        width: 300px;
        border-radius: 0;
    }
    .explore .data{
        font-size: 30px;
    }
    body{
        background: url(./assets/home/background-home-tablet.jpg) no-repeat center;
        background-size: cover;
    }
    body.destination{
        background: url(./assets/destination/background-destination-tablet.jpg) no-repeat center;
        background-size: cover;
    }
    nav{
        display: none;
        position: fixed;
        left: 100%;
        flex-direction: column;
        align-items: center;
        height:100vh;
        width: 100%;
        margin-top: 0px;
        margin-left: 0;
        top: 0;
        padding-top: 50px;
        z-index: 1;
    }
    nav span{
        margin:20px
    }
    nav span:hover:after{
        border: none;
    }
    .left{
        text-align: center;
    }
    .icon{
        display: block;
        text-align: right;
        padding: 20px 20px 0 20px;
    }
    .animation-for-nav-open{
        animation: nav-loading-animation 2s forwards;
    }
    .animation-for-nav-close{
        animation: nav-loading-animation-close 2s forwards;
    }
    @keyframes nav-loading-animation-close {
        0%{
            left: 0;
        }
        100%{
            left: 100%;
        }
    }
    @keyframes nav-loading-animation {
        0%{
            left: 100%;
        }
        100%{
            left: 0;
        }
    }
}